@page "/"
@using QrCodeApp.Shared.Models
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDialogService DialogService


<PageTitle>QrCode Generator</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Hello, world!</MudText>
<MudText Class="mb-8">Welcome to your new app, powered by MudBlazor!</MudText>

@if (isAuthenticated && qrCodeResponse?.data != null)
{

    <MudGrid Spacing="2" Justify="Justify.Center">
        <MudItem xs="12" md="4">
            <MudTextField @bind-Value="filterText" Placeholder="Filter by name or ID" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" />
        </MudItem>
        <MudItem xs="12" md="4">
            <MudButton OnClick="AddQrCode" Variant="Variant.Filled" Color="Color.Primary">Add a new Qr Code</MudButton>
        </MudItem>
    </MudGrid>

    <MudGrid Spacing="5" Justify="Justify.Center">
        @foreach (var qrCode in FilteredQrCodes())
        {
            <MudItem xs="12" sm="6" md="4">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">@qrCode.title</MudText>
                                <MudText Typo="Typo.body2">Id: @qrCode.reference</MudText>

                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="() => DeleteQrCode(qrCode.reference)" />
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Default" OnClick="() => EditQrCode(qrCode)" />
                            </CardHeaderActions>
                        </MudCardHeader>
                        <div class="d-flex justify-center">
                            <MudImage Height="250" Width="250" ObjectFit='ObjectFit.Fill' src="@qrCode.qrCode" Elevation="25" Class="rounded-lg" />
                        </div>

                        <MudCardContent>
                            @if (!string.IsNullOrEmpty(qrCode.description))
                        {
                            <MudText Typo="Typo.body2">@qrCode.description</MudText>
                        }
                    </MudCardContent>
                    <MudCardActions>
                        @if (qrCode.type == "static")
                        {
                            <MudChip Color="Color.Warning" Text="Static" />
                        }
                        else if (qrCode.type == "dynamic")
                        {
                            <MudChip Color="Color.Info" Text="Dynamic" />
                        }
                        <div style="flex-grow: 1;"></div>
                        <MudIconButton Icon="@Icons.Material.Filled.Download" Color="Color.Default" />
                        <a href="@qrCode.link" target="_blank"><MudIconButton Icon="@Icons.Material.Filled.OpenInBrowser" Color="Color.Default" /></a>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}
else if (!isAuthenticated)
{
    <p>You need to be logged in to view this page.</p>
}
else
{
    <MudProgressCircular Color="Color.Secondary" Size="Size.Large" Indeterminate="true" />
}

@code {
    private QrCodeData qrCodeResponse;
    private bool isAuthenticated = false;
    private string filterText;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            isAuthenticated = true;
            qrCodeResponse = await Http.GetFromJsonAsync<QrCodeData>("qrCode");
        }
    }

    private async Task AddQrCode()
    {

        var parameters = new DialogParameters
    {
        { "OnAddCompleted", EventCallback.Factory.Create(this, RefreshQrCodes) }

    };
        DialogService.Show<AddQrCodeDialog>("Create a New QR Code", parameters);
    }

    private async Task EditQrCode(QrCodeResponse qrCode)
    {
        var qrCodeRequest = new QRCodeRequest
            {
                Id = qrCode.reference,
                title = qrCode.title,
                description = qrCode.description,
                link = qrCode.link,
                type = qrCode.type
            };

        var parameters = new DialogParameters
    {
        { "EditableQRCode", qrCodeRequest },
        { "OnEditCompleted", EventCallback.Factory.Create(this, RefreshQrCodes) }

    };


       DialogService.Show<EditQrCodeDialog>("Edit QR Code", parameters);
    }

    private void DeleteQrCode(string qrCodeId)
    {
        var parameters = new DialogParameters
    {
        { "QrCodeId", qrCodeId },
        { "OnDeleteCompleted", EventCallback.Factory.Create(this, RefreshQrCodes) }
    };

        DialogService.Show<DeleteQrCodeDialog>("Delete QR Code", parameters);
    }

    private async Task RefreshQrCodes()
    {
        // Code to refresh the list of QR codes
        qrCodeResponse = await Http.GetFromJsonAsync<QrCodeData>("qrCode");
        StateHasChanged();
    }

    private IEnumerable<QrCodeResponse> FilteredQrCodes()
    {
        if (string.IsNullOrWhiteSpace(filterText))
        {
            return qrCodeResponse.data;
        }

        return qrCodeResponse.data.Where(qrCode => qrCode.title.Contains(filterText, StringComparison.OrdinalIgnoreCase) || qrCode.reference.Contains(filterText, StringComparison.OrdinalIgnoreCase));
    }







}
